@import "../../style/_variables.scss";

.char {
    &__content {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 650px 425px;
        column-gap: 25px;
        align-items: start;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        column-gap: 25px;
        row-gap: 30px;
    }

    &__item {
        height: 318px;
        width: 200px;
        background-color: $dark;
        padding: 15px;
        cursor: pointer;
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            transform: translate(-15px, -15px);
        }

        &_selected {
            filter: drop-shadow(0px 5px 20px #9f0013);
            transform: translateY(-8px);
        }
    }

    &__name {
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__info {
        padding: 25px;
        background: #fff;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        &-name {
            font-size: 22px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
